.slide_img
{
	height:600px;
	width:1000px;
	margin:auto;
}

.carousel-caption
{
	position:absolute;
	left:0; right:0; bottom: 20px;
	padding: 10px;
	margin:0;
	border-top: 1px solid rgb(225,225,225);
	font-size: 18px;
	text-align:center;
	letter-spacing: 0.05em;
	word-spacing: 0.05em;
	font-family: Georgia, Times, serif;
	background: #fff;
	background: rgba(255,255,255,0.9);
	color: #555;
	text-shadow: -1px -1px 0 rgba(255,255,255,0.3);
}

#myCarousel
{
	width:950px;
	display:block;
	margin:auto;
}
