#draftDiv
{
	display: block;
	height: 800 px;
	width: 100%;	
}

#button_init
{
	font-size:35px;
	margin:auto;
	display:block;
}

.hero
{
	width:80%;
	margin:auto;
	opacity: 0.7;
	display:block;
}

.hero:hover
{
	opacity: 0.95;
}

#card1, #card2, #card3
{
	width:290px;
	height:400px;
	margin:auto;
}

#card1.hearthpwn, #card2.hearthpwn, #card3.hearthpwn
{
	width:300px;
	height:410px;
}

#deckDiv
{
	height:500px;
	width:100%;
}
