.hero
{
	width:80%px;
	margin:auto;
	opacity: 0.6;
	display:block;
}

.hero:hover
{
	opacity: 0.95;
}

.deck_title
{
	text-align: center;
	font-size: 20px;
	
}

.decklist
{
	width:100%;
	margin:auto;
	display:block;
}
